html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
}

@keyframes icon_move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -1161px 0;
  }
}
.app-container {
  background-image: url('./back2.jpg');
  background-size: 600px;
  background-position: top;
  height: 100%;
  animation: icon_move 75s linear infinite;
}
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.logo {
  width: 150px;
}

.title-container {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  font-size: 5em;
  color: black;
  margin: -30px 0 0 0;
}

.title > span {
  color: white;
}

.subtitle {
  margin: 0;
  font-weight: 600;
  margin-bottom: -20px;
  width: 100%;
  text-align: right;
  margin-top: -15px;
  color: yellow;
}

.container {
  text-align: center;
  width: 100%;
}

.container input {
  height: 50px;
  border: none;
  border-radius: 10px 0 0 10px;
  font-size: 1.1rem;
}

.container input[type='text'] {
  padding: 0;
  font-size: 1.1rem;
  width: 50%;
  border: none;
  outline: none;
  padding-left: 20px;
  text-overflow: ellipsis;
  color: #8c8b8b;
}

.container input[type='text']::placeholder {
  opacity: 0.5;
}

.input-wrapper {
  position: relative;
  z-index: 1;
}

.url-wrapper {
  margin: 0 auto;
  width: 62%;
  height: 50px;
  background: #000000bd;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  margin-top: 20px;
  border-radius: 10px;
  position: relative;
  z-index: 0;
}

.url-wrapper > p {
  color: #c0bfbf;
  font-weight: 400;
}

.url-error {
  color: #ff6767;
}

h4 {
  color: white;
}

.submit {
  width: 100px;
  padding: 5px;
  background: #58d68d;
  color: white;
  height: 50px;
  border: none;
  border-radius: 0 10px 10px 0;
  font-size: 1.1rem;
  cursor: pointer;
}

.submit:hover {
  background: #28b463;
}

.copy {
  width: 86px;
  height: 35px;
  border-radius: 0;
  position: absolute;
  right: 15px;
  color: #c0bfbf;
  background: none;
}

.copy:hover {
  background: none;
  color: #58d68d;
}

header {
  height: 70px;
  background: black;
  opacity: 0.9;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 20px 0;
  text-align: center;
  font-weight: 700;
  color: black;
  opacity: 0.6;
}
